@model IEnumerable<WebApp_HomeWork.Models.MoneyClass>

@{
    ViewBag.Title = "Index";
}
<style>
    .Blue {
        color:blue;
    }
    .Red {
        color:red;
    }
</style>
<h2>Index</h2>
<div class="well">
    @Html.Action("MoneyInput")
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
                <th>備註</th>
            </tr>
            @{
                int i = 0;
                foreach (var item in Model)
                {
                    <tr class="@((int)item.category == 0 ? "Blue" : "Red")">
                        <td>
                            @(++i)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.money)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                    </tr>
                }

            }

        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
