@model List<WebApp_HomeWork.Models.MoneyClass>
@{
    Layout = null;
}

@{
    int count = 0;
    foreach (WebApp_HomeWork.Models.MoneyClass oMoney in Model)
    {
        count += 1;
    <tr>
        <td>@count.ToString()</td>
        <td>@oMoney.category </td >
        <td>@Convert.ToDateTime(oMoney.date).ToString("yyyy-MM-dd")</td>
        <td>@Convert.ToString(oMoney.money)</td>
        <td>@oMoney.description </td >
    </tr>
    }
}

